cmake-build-debug/
bak/
build/
src/parser/config/confparser.cc
src/parser/config/confparser.hh
src/parser/config/confscanner.cc
src/parser/config/location.hh
src/parser/config/position.hh
src/parser/config/stack.hh
src/parser/hr/hrparser.cc
src/parser/hr/hrparser.hh
src/parser/hr/hrscanner.cc
src/parser/hr/location.hh
src/parser/hr/position.hh
src/parser/hr/stack.hh
src/parser/parser.bak/
src/parser/kpath/kparser.cc
src/parser/kpath/parser.hh
src/parser/kpath/kscanner.cc
src/parser/kpath/location.hh
src/parser/kpath/position.hh
src/parser/kpath/stack.hh
rc/parser/sw/location.hh
src/parser/sw/position.hh
src/parser/sw/stack.hh
src/parser/sw/swparser.cc
src/parser/sw/swparser.hh
src/parser/sw/swscanner.cc
src/parser/sw/location.hh
doc/tex/topology.kilepr
doc/tex/*.out
doc/tex/*.log
doc/tex/*.aux
doc/tex/*.dvi
doc/tex/*.bbl
doc/tex/*.blg
doc/tex/*.run.xml
doc/tex/topology-blx.bib
.idea/
doc/tex/*.backup
